.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

    .overlay:target {
        visibility: visible;
        opacity: 1;
    }

#popupBody:target {
    width: 100%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    background: #FFF;
    position: relative;
    transition: all 5s ease-in-out;
    margin: 20% auto;
    min-height: 40vh;
    max-height: 40vh;
    top: 2px;
    left: 0px;
}

#cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #F00;
}

#TextBox1:target {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 28vh;
    min-height: 28vh;
    height: 28vh;
}
.popupContent{
    height:60vh
}